In [1]:
import pandas as pd

In [2]:
# 예시 DataFrame
df = pd.DataFrame({
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'Salary': [50000, 60000, 55000, 65000]
})

# Age가 30 이상이면 'Senior', 그렇지 않으면 'Junior'로 분류
df['Category'] = df['Age'].apply(lambda x: 'Senior' if x >= 30 else 'Junior')
print(df)

    Name  Age  Salary Category
0   John   28   50000   Junior
1   Anna   24   60000   Junior
2  Peter   35   55000   Senior
3  Linda   32   65000   Senior

## 행 함수에 적용가능

In [3]:
# Name과 Age를 결합하여 설명 열 추가
df['Description'] = df.apply(lambda row: f"{row['Name']} is {row['Age']} years old", axis=1)
print(df)

    Name  Age  Salary Category            Description
0   John   28   50000   Junior   John is 28 years old
1   Anna   24   60000   Junior   Anna is 24 years old
2  Peter   35   55000   Senior  Peter is 35 years old
3  Linda   32   65000   Senior  Linda is 32 years old

## 복잡한 조건부 연산

In [4]:
# Age와 Salary를 기준으로 범주화
def categorize(row):
    if row['Age'] > 30 and row['Salary'] > 60000:
        return 'High Earner'
    elif row['Age'] <= 30 and row['Salary'] > 50000:
        return 'Promising'
    else:
        return 'Standard'

df['Category'] = df.apply(categorize, axis=1)
print(df)

    Name  Age  Salary     Category            Description
0   John   28   50000     Standard   John is 28 years old
1   Anna   24   60000    Promising   Anna is 24 years old
2  Peter   35   55000     Standard  Peter is 35 years old
3  Linda   32   65000  High Earner  Linda is 32 years old

## 시리즈 간 연산

In [ ]:
# Age와 Salary의 비율 계산
df['Age_to_Salary'] = df.apply(lambda row: row['Salary'] / row['Age'], axis=1)
print(df)